body{
    font-family: 'Poppins', sans-serif; 
    margin: 100px;
}

p{
    font-style: normal;
    color: #707070;
}
.buy-now-button{
    color:#ffffff ;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow:none;
    background-image: linear-gradient(to bottom,#000000 100%,#707070 0%);
    border: none;
}

h6{
    color: #FF9D00;
}

.carousel-indicators li {
    box-sizing: content-box;
    cursor: pointer;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    
}

#slide1{
    background-image: linear-gradient(to bottom, #FF9C35 0%, #FFD019 100%);
    width: 34px;
    height: 6px;
    border-radius: 14px;
    padding: 2px 4px;

}

#slide2{
    background-color:#CECECE ;
    width: 8px;
    height: 8px;
    padding: 1px ;
    border-radius: 100px;   
}

#slide3{
    background-color:#CECECE ;
    width: 8px;
    height: 8px;
    padding: 1px ;
    border-radius: 80px;  
}

.row{

    margin-bottom: 50px;
    padding:40px;
}

.card-deck{
    text-align: center;
}

.card-text{
    font-size: small;
    text-align: center;
    color: #707070;
}

.card{
    box-shadow: 5px 5px 10px #DDDDDD;
    border: none;
    border-radius: 10px;

}

.card-footer{
    border-top: none;
    background-color: white;
    margin-bottom:20px;

}

.card-img-top {
    
    padding: 25px;
}

h4{
    margin: 50px;
}

.carousel-indicators li{
    background-image: linear-gradient(to bottom, #FF9C35 0%, #FFD019 100%);
    width: 90px;
    height: 6px;
    border-radius: 80px;

}
